::-webkit-scrollbar
{
    width: 0.3vw;  /* for vertical scrollbars */
    height: 0.3vw; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.8);
}

.topBar {
    height: 10vh;
    margin-top: 3vh;
}

.topName {
    line-height: 10vh;
    font-size: 5vw;
    color: skyblue;
    font-weight: bold;
    margin-left: 5vw;
    float: left;
    margin-right: 10vw;
    letter-spacing: 1vw;
    text-shadow: -0.2vw 0 black, 0 0.2vw black, 0.2vw 0 black, 0 -0.2vw black;
}

.conjugator, .grammar, .resources {
    float: left;
    height: 6vh;
    margin-top: 2vh;
    line-height: 5vh;
    border: solid black 0.2vw;
    margin-left: 1vw;
    font-size: 2vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.leftBar {
    overflow: hidden;
    float: left;
    width: 43.5vw;
    margin-top: 3vh;
    margin-left: 1vw;
}

.bound {
    float: left;
    border: black 0.2vw solid;
    height: 25vh;
    width: 33.5vw;
    display: none;
}

.lang, .verb{
    float: left;
    height: 2vh;
}

.language {
    margin-bottom: 3vh;
    overflow: hidden;
}

.lang {
    border: black 0.2vw solid;
    height: auto;
    width: 10vw;
    padding: 0.7vh 0.7vw;
    font-size: 1.5vw;
    margin-top: 4vh;
    margin-right: -0.2vw;
}

.verb {
    border-right: black 0.2vw solid;
    height: 100%;
    width: 18vw;
}

.verbTitle, .pronounTitle {
    height: 4vh;
    line-height: 4vh;
    font-size: 1.5vw;
    border-bottom: black 0.2vw solid;
}

.pronoun {
    float: right;
    border-left: black 0.2vw solid;
    height: 100%;
    width: 13vw;
}

.page {
    position: fixed;
    left: 44vw;
    padding-left: 3vw;
    padding-top: 10vh;
    float: left;
    width: 52vw;
    height: 85vh;
}

.ssRow, .tsRow {
    margin-bottom: 3vh;
    float: left;
    width: 100%;
    height: 6vh;
}

.start, .stop {
    border: black 0.2vw solid;
    width: 7vw;
    height: 6vh;
    line-height: 6vh;
    font-size: 1.5vw;
    cursor: pointer;
}

.start, .time {
    float: left;
}

.stop, .score {
    float: right;
}

.start {
    border-top-left-radius: 1vw;
}

.stop {
    border-top-right-radius: 1vw;
}

.time {
    border-bottom-left-radius: 1vw;
}

.score {
    border-bottom-right-radius: 1vw;
}

.timeName {
    height: 6vh;
    float: left;
    margin-left: 1vw;
}

.time, .score {
    border: black 0.2vw solid;
    width: 15vw;
    height: 6vh;
    line-height: 6vh;
    font-size: 1.5vw;
}

.tsRow {
    margin-bottom: 5vh;
}

.pRow, .uRow {
    margin-top: 1vh;
    float: left;
    width: 100%;
    font-size: 1.5vw;
}

.inputRow {
    margin-top: 5vh;
    width: 100%;
    float: left;
}

.input {
    width: 29vw;
    float: left;
    height: 6vh;
    line-height: 6vh;
    border: black 0.2vw solid;
    margin-right: 5vw;
    font-size: 1.5vw;
    padding-left: 0.6vw;
}

.enter {
    float: left;
    line-height: 5.3vh;
    width: 8vw;
    height: 6vh;
    font-size: 1.5vw;
    border: black 0.2vw solid;
    border-radius: 1vw;
}

.accentsRow {
    width: 100%;
    float: left;
    margin-top: 5vh;
}

.accentsName {
    font-size: 2vw;
    float: left;
}

.accents {
    float: left;
    width: 50%;
}

.accent {
    border: black 0.2vw solid;
    width: 2.5vw;
    height: 2.5vw;
    line-height: 2vw;
    margin-left: 1vw;
    margin-bottom: 1vw;
    float: left;
    font-size: 1.5vw;
}

.personType, .verbType {
    padding: 1vh 0.5vw;
    height: 15vh;
    overflow-y: scroll;
}

input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 10px;
}

.checkboxRow {
    width: 100%;
    float: left;
    border-bottom: 0.1vw black solid;
    margin-bottom: 1vh;
}

.checkboxText, .checkboxBox {
    float: left;
}

.checkboxBox {
    margin-left: 0.3vw;
    width: 10%;
}

.checkboxText {
    margin-left: 0.5vw;
    width: 80%;
    word-wrap: break-word;
    font-size: 1vw;
}

.tense {
    font-size: 1vw;
}

.tenseName {
    font-weight: bold;
    font-size: 1vw;
    margin-bottom: 0.5vh;
}

.tenseTypeName {
    font-size: 1vw;
    margin-bottom: 0.5vh;
}

.tenseTypeOptionsName {
    font-size: 1vw;
}

.tenseType, .tenseTypeOptions {
    margin-left: 1vw;
}